.footerwrapper{
    width: 100%;
    margin-top: 5rem;
}
.footerwrapper>hr{
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 1rem;
    border: none;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.logo>img{
    width: 2.5rem;
    height: 2.5rem;
}
.logo>span{
    font-weight: 600;
    font-size: 1rem;
}
.block{
    display: flex;
    gap: 1rem;
    max-width: 12rem;
}
.detail{
    display: flex;
    flex-direction: column;
    width: inherit;
    font-size: 0.8rem;
    gap: 1rem;
    font-style: italic;
}
.detail>:nth-child(1){
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 500;
}
.pngline:hover{
    cursor: pointer;
}
.pngline{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icon{
    width: 25px;
}
.copyright{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.65rem;
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width: 768px){
    .footer{
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 1.7rem;
    gap: 2rem;
    }
}

@media screen and (max-width: 640px){
    .footer{
        justify-content: center;
    }
    .logo{
        display: none;
    }
}