@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    margin: 0;
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
    transition: all 3ms ease;
    color: var(--balck);
    scroll-behavior: smooth;
}